.input-group {
    margin-bottom: 10px;
}

.panel-heading h3 {
    margin: 0px;
}

#map-canvas {
    font-size: 12px;
}

.fc-event {
    cursor: pointer;
}

.page-header {
    margin-top: 0px;
}

.mce-panel {
    border-color: #ccc !important;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.cover-photo {
    width: 100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    margin-bottom: 15px;
}

.cover-photo.edit:hover {
    cursor: pointer;
}

.map-header small {
    font-size: 80%;
}
