.input-group {
    margin-bottom: 10px;
}

.panel-heading h3 {
    margin: 0px;
}

#map-canvas {
    font-size: 12px;
}

.fc-event {
    cursor: pointer;
}

.page-header {
    margin-top: 0px;
}

.mce-panel {
    border-color: #ccc !important;
}
