<!DOCTYPE html>
<html>
<head>
  <title>ETS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <%= yield %>
    <div>
</body>
</html>
